.display table{
    width: 90%;
    height: 100%;
    margin-right: 30%;

}

.display{
    margin-right: 12%;
    margin-left: 15%;
}

.mat-column-name{
    font-weight:bold;
    width: 30%;
}

.mat-column-type{
    font-style:italic;
    width: 35%;
}

.mat-column-action{
    text-align: center;
    width: 25%;
}
 .hed{
     margin-top: 2%;
 }
